@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
</head>
<body>

    <div class="row">
        <h1 class="display-4 d-inline pr-5 m-4" style="        border-right: solid 1px #23153d;">My Library</h1>
        <h1 class="col-7 d-inline" style="font-weight: normal; font-size:43px; padding-top:40px;">The easiest way to find a book!</h1>
        <hr>
    </div>
    
    <div class="row mt-3">
        <div class="col-8" >
            <img src="~/img/header2.png" alt="image" class="img-fluid" />
        </div>
        <div class="col-4 float-right" style="border:solid #23153d 1px;border-radius:10px;">
            <p style="padding-top:20px; font-size:20px">
                MyLibrary is a leading retailer of books, with a vast range of books from academic, popular and professional publishers.
            <p style="padding-top:20px; font-size:20px"> Access the library anytime, anywhere.</p>
            <p style="padding-top:20px; font-size:20px">Using 'My Library' you can: Have easy acess to your library account; Search and renew items online.</p>
            </p>
        </div>
    </div>
</body>
</html>

